.comment {
    margin-bottom: 1.4em;
    margin-left: .6em;

    &__author .header__avatar {
        width: 1.3em;
        height: 1.3em;
    }

    &__author .header__username {
        font-size: 13px;
    }

    &__content {
        margin: 0;
        word-wrap: break-word;
        font-size: .8rem;
    }
}