:root {
    --thumbnail-size: 90px;
}
 
.posts-gallery {
    margin: auto;
    margin-top: 2rem;
    max-width: 1024px;
    display: grid;
    justify-content: center;
    gap: .4rem;
    grid-template-columns: repeat(3, var(--thumbnail-size));

    &__thumbnail {
        height: var(--thumbnail-size);
        width: var(--thumbnail-size);

        img {
            object-fit: cover;
            height: 100%;
            max-width: var(--thumbnail-size);
        }
    }
}



@media (min-width: 481px) {
    :root {
        --thumbnail-size: 120px;
    } 
}

@media (min-width: 648px) {
    :root {
        --thumbnail-size: 180px;
    } 
}

@media (min-width: 941px) {
    :root {
        --thumbnail-size: 260px;
    } 
}

.searchbar input[type="search"] {
    max-width: 500px;
    margin: 0;
    border-radius: 30px;
    width: 100%;
}

.searchbar svg, .searchbar input[type="search"] {
    position: absolute;
    left: 0;
    padding-left: 30px;
    z-index: 1000;
}
.searchbar svg {
    z-index: 101;
    left: -20px;
    top: 7px;
}
.searchbar {
    margin: auto;
    max-width: 300px;
    height: 30px;
    position: relative;
    margin-top: 20px;
}

.suggestions {

    width: 100%;
    min-height: 50px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    z-index: 999;
    top: 70%;
    padding-top: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &__suggestion {
        padding: 1rem;
    }
 }