.settings-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 4rem; 
    display: flex;
    flex-direction: column;

    &__settings, &__tabs {
        height: auto;
        padding: 1.5rem;
        background-color: #FFF;
    }

    &__settings {
        flex: 1;
        margin-left: .2rem;
    }

    &__tabs {
        text-align: center;
    }

    &__tabs a {
        display: inline-block;
        padding:1rem;
        width: 100%;
    }
}


@media (min-width: 1225px) {
    .settings-container {
        flex-direction: row;        
    }

}