$post-padding: .5em;

.post {
    padding: $post-padding;
    padding-top: $post-padding - .3em;
    max-width: calc(100vw - 2 * $post-padding);
    width: 100%;
    margin: 0;
    background-color: #FFF;
    padding-bottom: $post-padding + .5em;

    &__wrapper {
        position: relative;
    }

    &__wrapper .post__header {
        display: none;
    }
    
    &__picture {
        height: auto;
        margin: 0;

        img {
        max-height: 600px;
        object-fit: cover;  
            width: 100%;
            padding: 0;
        }
    }

    button {
        background: none;
        border: none;
        font-size: 16px;
        padding: .5em;
        padding-top: .2em;

        svg {
            fill: #333;
        }
    }
    

    &__likes {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }

    form input {
        border: 1px solid #CCC;
        padding: .5em;
        width: 100%;
        box-sizing: border-box;
    }
}



.post.preview {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 1024px;
    margin-bottom: clamp(50px, 15%, 250px);

    & .post__wrapper .post__header:nth-of-type(1) {
        display: flex;
        padding-top: .5rem;
    }

    .post__comments {
        flex: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 380px;
    }

    .post__wrapper {
        min-width: 250px;
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }

    .post__comment-form  {
        margin-top: auto;
        bottom: 0;
    }

    .post__tags, .post__description {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .post__tags {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        margin-bottom: 1rem;
    }

}

@media (min-width: 481px) {

    .post {
        margin: auto;
        margin-top: 5rem;
        max-width: 720px;

        &__actions {
            padding: .3em 0;
        }
    }

    .post.preview {
        flex-direction: row;
        
        .post__actions {
            padding: .5em;
        }
        
        & .post__wrapper .post__header:nth-of-type(1) {
            display: flex;
        }

        & > .post__header:nth-of-type(1) {
            display: none;
        }
    }
}