.label-wrapper + input, 
.label-wrapper + textarea {
    width: 100%;
    box-sizing: border-box;
    padding: .6em;
    padding-top: 1.5em;
    border-radius: 3px 3px 0 0;
    border: 1px solid #999;
    border-bottom: 3px solid #999;

    &:focus {
        outline: none;
        border-bottom-color: rgb(40, 97, 202);
    }
}



.label-wrapper {
    position: relative;

    label {
        position: absolute;
        left: .6em;
        top: .65em;
        transition: font-size .05s ease-out;
    }

    label:hover {
        cursor: text;
    }

}

.floating-label {
    font-size: .7em;
}
