.badge {
    border-radius: 6px;
    background-color: rgb(42, 85, 193);
    color: #FFF;
    font-size: .7rem;
    padding: .4em;
    padding-left: .7em;
    max-height: 1rem;
    margin-left: 1px;
    margin-top: 1px;
    display: flex;
}

.badge__close {
    margin-left: .7em;
    font-size: .7em;
}

.badge__close:hover {
    cursor: pointer;
}