$sidebar-size: 6rem;

#root {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    box-sizing: border-box;
}

.content {
    flex: 1;
}

.nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0 -1px 3px 0 #DDD;
    position: fixed;
    z-index: 999999;
    bottom: 0;

    header {
        display: none;
    }

    header h1 {
        margin: 0;
        padding: 0;
        display: none;
    }

    ul {
        list-style-type: none;  
        padding: 0;
        display: flex; 
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

    ul a {
        color: #222;
    }

    &__item__label {
        display: none;
    }

    &__item__icon {
        font-size: 22px;
    }

    &__item:hover {
        cursor: pointer;
    }

    &__item:hover &__item__icon {
        color: #555;
    }
}

@media (min-width: 1218px) {
    #root {
        flex-direction: row;
    }

    .nav header svg {
        width: 1.5em;
        height: 1.5em;
        fill: rgb(30, 29, 29);
        transition: width .1s ease-out,
            height .1s ease-out;
    }

    .nav header {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em 0;
    }

    .nav::before {
        content: '';
        height: inherit;
        width: $sidebar-size;
        background-color: #FFF;
        position: fixed;
        z-index: -1;
        box-shadow: 1px 0 3px 0 #DDD;
        transition: width .15s ease-out;
    }

    .nav {
        height: 100vh;
        position: relative;
        width: $sidebar-size;
        box-sizing: border-box;
        box-shadow: unset;
        flex-direction: column;
        align-items: unset;
        position: static;

        &__item {
            display: flex;
        }

        &__item__label {
            margin-left: 3em;
            opacity: 0;
            transition: opacity .1s linear;
        }

        &__item a {
            display: flex;
            padding: 1.5em;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        &__item a svg {
            min-width: 2em;
        }
    }   


    .nav:hover header {
        width: calc($sidebar-size + 7rem);

        svg {
            width: .7rem;
            height: .7rem;
            margin-right: 1%;
        }

        h1 {
            font-size: 1.5rem;
            display: inline-block;
            text-align: center;
            margin-left: .15em;
            font-weight: 600;
        }
    }

    .nav:hover::before {
        width: calc($sidebar-size + 7rem);
    }

    .nav:hover .nav__item__label {
        display: inline-block;
        animation: fadeOut .1s ease-out forwards;
    }

    @keyframes fadeOut {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .nav ul {
        flex: 1;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }

}