$sidebar-size: 6em;

.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0 -1px 3px 0 #DDD;

    h1 {
        margin: 0;
        display: none;
    }

    ul {
        list-style-type: none;  
        padding: 0;
        display: flex; 
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

    ul a {
        color: #222;
    }

    &__item__label {
        display: none;
    }

    &__item__icon {
        font-size: 22px;
    }

    &__item:hover {
        cursor: pointer;
    }

    &__item:hover &__item__icon {
        color: #555;
    }
}

@media (min-width: 481px) {
    .nav {
        left: 0;
        top: 0;
        height: 100vh;
        width: $sidebar-size;
        box-sizing: border-box;
        box-shadow: 1px 0 3px 0 #DDD;
        flex-direction: column;
        align-items: unset;
        overflow: hidden;   
        transition: width .15s ease-out;

        &__item__label {
            display: inline-block;
            margin-left: 3em;
        }

        &__item a {
            display: flex;
            padding: 1.5em;
            width: 130%;
            align-items: center;
            text-decoration: none;
        }

        &__item a svg {
            min-width: 2em;
        }
    }   

    .nav:hover {
        width: 13em;
    }

    .nav ul {
        flex: 1;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }

    body {
        padding-left: calc($sidebar-size + 10px);
    }
}